$sm:600px;
$md:899px;
$lg:1199px;
$xl:1200px;


$unit:8px;


@mixin for-small-up {
    @media screen and (min-width:450px) and (max-width:$sm) {
        @content
    }
}

@mixin for-medium-up {
    @media screen and (min-width:$sm) and (max-width:$md) {
        @content
    }
}





