$sm:599px;
$md:899px;
$lg:1199px;


$unit:8px;


@mixin for-small-up{
    @media screen and (min-width:$sm){
        @content
    }
}


@mixin for-midle-up {
    @media screen and (min-width:600px) and (max-width:$md){
        @content
    }
}




