@import 'breakpoints.scss';

*{
    box-sizing: border-box;
}



.container {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    @include for-small-up{
        flex-direction: row;
    }

    @include for-medium-up{
        flex-direction: row;
    }


    
    
}




.square{
    width: 100px;
    height: 100px;
    margin: $unit;
    background-color:#ff7f50;
     
    @include for-small-up{
        background-color: #ff7f50;
    }

    @include for-medium-up{
        background-color: #8a2be2;
    }


}